build/
.vscode/
pyvenv.cfg
bin/
lib/*
.pytest_cache
.DS_Store
firefox-102.2.0*
firefox-102.2.0/*
firefox-*/*
firefox-*/
tests/__pycache__/*
tests/python/__pycache__/*
Testing/Temporary
_spidermonkey_install/*