build/
.vscode/
pyvenv.cfg
python/pythonmonkey/version.py
python/pythonmonkey/node_modules
bin/
lib/*
.pytest_cache
.DS_Store
firefox-*.tar.xz
firefox-*/
__pycache__
Testing/Temporary
_spidermonkey_install
__pycache__/*
dist
*.so
_spidermonkey_install/*
*~
Makefile
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeCache.txt
